/* voa tv kiosk stylesheet */

html { font-size: 100%; }

body {
	background: #444;
	font-family: Helvetica, Arial, sans-serif;
}

#page-header {
	background: #1330bf;
	color: #fff;
}

.inner {
	max-width: 1600px;
	margin: 0 auto;
}

#playing {
	background: #444;
	color: #eee;
}

#listings {
	background: #eee;
}

footer {
	background: #ccc;
}


.category {
	background: #d41010;
	color: #fff;
	line-height: 125%;
	padding: 1rem;
	text-transform: uppercase;
}

.video {
	margin-bottom: 3rem;
	position: relative;
}

/*.video:nth-child(1n+2) {
	border-top: 1px solid #ddd;
	padding-top: 2rem;
}*/

.video a {
	text-decoration: none;
}

.video a img {
	border-top: 1px solid #ddd;
	display: block;
	height: auto;
	width: 100%;
}

.video .details {
	display: block;
	margin: 0 1rem;
	position: relative;
	top: -1.5rem;
}

.video a h3 {
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	font-weight: bold;
	line-height: 125%;
	padding: .5rem;
}

.video a p {
	color: #666;
	font-size: .9em;
	line-height: 130%;
	margin: .5rem calc(0.5rem + 1px);
}





@media (min-width: 750px) {

	#page-header {
		height: 80px;
	}

	main { 
		height: calc(100vh - 80px - 5vh); /* height = 100% viewport - header - footer */ 
		overflow: hidden;
	}
	
	#playing {
		float: right;
		height: 100%;
		width: 70%;
	}

	#listings {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		width: 30%;
	}

	footer {
		min-height: 5vh;
	}

}



@media (min-width: 1000px) {
	#playing { width: 75%; }
	#listings { width: 25%; }
}



@media (min-width: 1200px) {
	#playing { width: 80%; }
	#listings { width: 20%; }
}
